{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <body>
    <div class="container bg-light shadow-md p-5 form_layout">
      <h3>Update Record</h3>

      <h5>Update employee record</h5>
      <br />
      <hr />
      {% if form.errors %}
        <ul>
          {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <form method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form|crispy }}

        <br />

        <button type="submit" class="btn btn-info">Update Record &nbsp; <i class="fa fa-plus"></i></button>
        &nbsp;
        <a href="{% url 'webapp:dashboard' %}" class="btn btn-secondary">Return &nbsp; <i class="fa fa-arrow-left"></i></a>
      </form>
      <br />
    </div>
  </body>
{% endblock %}
